@font-face {
    font-family: R;
    src: url(../fuentes/RampartOne-Regular.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(../fuentes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(../fuentes/FredokaOne-Regular.ttf);
}